﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Währungsrechner</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="bg-primary text-white text-center p-2">
            DAHRS-Währungsrechner<br />

        </div>
        <a asp-action="Berechnung"> Berechnen jetzt </a>

    </div>
    <div class="text-center">

        <img class= src="~/css/fisch.jpg" width="1200" height="800" />

    </div>
</body>
</html>
